[rerere]
  name = Jason Stinson
  email = jsfeb26@gmail.com
  enabled = true # re-use conflict resolutions that you already did
[alias]
  co = checkout
  br = branch
  s = status
  last = log -1 HEAD
  r = rebase -i
  cm = commit -m
  cp = cherry-pick
  open = browse -- .
  # Delete all local branches except main
  # dasm = !git branch | grep -v "main" | xargs git branch -D
  # Creates a new branch based on origin/main
  cob = "!f() { git checkout -b \"$1\" origin/main; }; f"
  # Push current branch; escalate to friendly force push prompt when needed
  pb = !~/dotfiles/scripts/push_branch.sh
  # Switch back to the previous branch
  z = !~/dotfiles/scripts/switch_previous_branch.sh
  # Delete all worktrees created by Cursor
	rwt = "!git worktree list | awk \"{print \\$1}\" | grep \"\\.cursor/worktrees\" | xargs -I{} git worktree remove --force {} ; git worktree list"
  # Which Branch - Find which remote branch(es) contain a commit
  wb = !~/dotfiles/scripts/find_commit_branch.sh

[user]
  email = jsfeb26@gmail.com
  name = Jason Stinson
[github]
  user = jsfeb26
[credential]
  helper = osxkeychain
[core]
  pager = diff-so-fancy | less --tabs=4 -RFX
  # editor = nvim
  editor = vim
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = 11
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[init]
  defaultBranch = main
[url "git@github.com:"]
  insteadOf = https://github.com/
[commit]
  template = /Users/jasonstinson/dotfiles/profiles/.gitmessage
[format]
  pretty = format:%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(bold red)%an%C(reset)%C(bold yellow)%d%C(reset) %C(white)- %s%C(reset)
  
# alertantive log
# git log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%an%C(reset)%C(bold yellow)%d%C(reset) %C(dim white)- %s%C(reset)' --all

[maintenance]
	# repo = /Users/jstinson/ambient/src/product
	repo = /Users/jasonstinson/dev/ambient/product
[coderabbit]
	machineId = cli/6cec4b5b795149f381dd502ca6bfad7d
